.slider-menu {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto 25px auto;
    padding-bottom: 5px;

    position: relative;
    border-bottom: solid 2px var(--white);

    .menu-item {
        text-align: center;

        &.active {
            font-weight: 700;
            color: var(--comp-yellow);
        }
    }

    .bar {
        position: absolute;
        bottom: -2px;
        height: 2px;
        background-color: var(--comp-yellow);

        transition: all .2s cubic-bezier(.25, .25, .25, 1.25);
    }
}