@import "../../assets/style/functions.scss";
@import "../../assets/style/mixins.scss";

.campaign {
    @include scrollbar;
    padding-right: 10px;

    display: flex;
    width: 48%;
    position: relative;

    .photo {
        max-width: 15vmin;
    }

    .content {
        margin-left: px-to-vw(30px);
        flex-direction: column;
        width: 100%;

        position: relative;
    }

    .display-name {
        display: flex;
        margin-bottom: px-to-vh(15px);
    }

    .desription {
        margin-bottom: px-to-vh(25px);
    }

    .users-label {
        margin: px-to-vh(35px) 0 px-to-vh(30px) 0;
        display: flex;
        align-items: center;

        .add-user-button {
            margin-left: auto;
        }
    }

    .user {
        display: flex;

        margin-bottom: px-to-vh(15px);
        &:last-child {
            margin-bottom: 0;
        }

        .remove-user-wrapper {
            margin-left: auto;

            .remove-user {
                fill: var(--comp-yellow);
    
                width: px-to-rem(22px);
                height: px-to-rem(22px);
    
            }

        }
    }

    .MuiTableFooter-root {
        #demo-simple-select {
            padding: 5px 42px 5px 10px;
            width: 150px;
            color: var(--white);
        }

        .MuiInputBase-formControl {
            &:hover {
                .MuiOutlinedInput-notchedOutline {
                    border-color: var(--comp-yellow);
                }
            }
        }

        .MuiSelect-iconOutlined {
            fill: var(--white);
        }

        .MuiOutlinedInput-notchedOutline {
            border-color: var(--white);
        }

        .MuiOutlinedInput-root.Mui-focused {
            .MuiOutlinedInput-notchedOutline {
                border-color: var(--comp-yellow) !important;
            }
        }

        .MuiSelect-nativeInput {
            display: none;
        }
    }

    &.mobile {
        height: 100%;
        width: 100%;
        flex-direction: row-reverse;

        .user {
            .remove-user {
                position: fixed;
                right: 3vmin;
            }
        }

        .add-user-button {
            position: fixed !important;
            right: 3vmin;
        }

        .users-label { 
            margin: px-to-vh(45px) 0 px-to-vh(40px) 0;
        }
    }
}